* {
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.operator {
  flex: 0 0 300px;
  font-size: 14px;
  button {
    margin: 0 0 5px;
  }
}

.draft-wrap {
  height: 96vh;
  border: 1px solid #a5a5a5;
  border-radius: 4px;
  overflow: auto;
  padding: 20px;
}
