* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  padding: 10px;
}

.flex {
  display: flex;
  height: 100%;
}

.operator {
  height: 100%;
  overflow: auto;
  flex: 0 0 30%;
  font-size: 14px;
  button,
  input,
  select {
    margin: 2px;
    height: 2em;
  }
  .key {
    display: inline-block;
    width: 60px;
    text-align: right;
  }
  > div {
    border: 1px solid #a5a5a5;
    border-radius: 4px;
    margin: 10px;
    padding: 10px;
    > div {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
    p {
      margin: 0;
    }
  }
}

.draft-wrap {
  height: 100%;
  flex: auto;
  border: 1px solid #a5a5a5;
  border-radius: 4px;
  overflow: auto;
  padding: 20px;
}
