<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Draft Demo</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<script id="operator-template" type="text/x-template">
    <div class="operator">
      <div>
        <div>
          <span>强制刷新文章</span>
          <button @click="showArticle">update</button>
        </div>
        <div>
          <span>log Html</span>
          <button @click="logHtml">log</button>
        </div>
      </div>

      <div>
        <p>控制选中内容样式：</p>
        <div>
          <button @click="bold">bold</button>
          <button @click="deleteType">delete</button>
          <button @click="underline">underline</button>
          <button @click="itailc">itailc</button>
          <button @click="red">red</button>
          <button @click="clearStyle">clearStyle</button>
        </div>
        <p>自定义选中内容样式：</p>
        <div>
          <span class="key">样式名：</span>
          <input type="text" v-model="inlineStyle">
        </div>
        <div>
          <span class="key">值：</span>
          <input type="text" v-model="inlineStyleValue">
        </div>
        <button @click="customerInlineStyle">确定</button>
      </div>
      <div>
        <p>修改段落样式：</p>
        <div>
          <button @click="modifyStyle('padding', '10px')">padding10</button>
          <button @click="modifyStyle('margin', '10px')">margin10</button>
          <button @click="modifyStyle('backgroundColor', 'grey')">bgGrey</button>
          <button @click="modifyStyle('color', 'white')">textWhite</button>
          <button @click="modifyStyle('clear', 'style')">clearStyle</button>
        </div>
        <p>自定义段落样式：</p>
        <div>
          <span class="key">样式名：</span>
          <input type="text" v-model="blockStyle">
        </div>
        <div>
          <span class="key">值：</span>
          <input type="text" v-model="blockStyleValue">
        </div>
        <button @click="customerBlockStyle">确定</button>
      </div>
      <div>
        <p>
          <span>添加段落内图片：</span>
          <button @click="insertInlineImage">insertInlineImage</button></p>
        <p>自定义图片地址：</p>
        <div>
          <input type="text" v-model="inlineImage">
          <button @click="customerInlineImage">确定</button>
        </div>
      </div>
      <div>
        <p>
          <span>添加占用一行的图片：</span>
          <button @click="insertImage">insertImage</button>
        </p>
        <p>自定义图片地址：</p>
        <div>
          <input type="text" v-model="image">
          <button @click="customerImage">确定</button>
        </div>
      </div>
      <div>
        <p>切换块级类型：</p>
        <div>
          <button @click="modifyType('h1')">h1</button>
          <button @click="modifyType('h2')">h2</button>
          <button @click="modifyType('h3')">h3</button>
          <button @click="modifyType('h4')">h4</button>
          <button @click="modifyType('h5')">h5</button>
          <button @click="modifyType('h6')">h6</button>
          <button @click="modifyType('normal')">normal</button>
          <button @click="modifyType('li')">li</button>
        </div>
      </div>
    </div>
  </script>

<body>
  <div class="flex">
    <div id="operator"></div>
    <div class="draft-wrap" id="root"></div>
  </div>
</body>

</html>