.zebra-draft-root {
  white-space: pre-wrap;
  outline: none;
  table {
    width: 100%;
    border-collapse: collapse;
    p {
      margin: 0;
    }
    td,
    th {
      border: 1px solid #a5a5a5;
      padding: 0;
      width: 100px;
      word-break: break-all;
    }
  }

  .zebra-draft-image {
    margin: 0;
    &.zebra-draft-image-loading {
      background: #efefef;
      padding: 10% 0;
      &::before {
        content: "图片加载中···";
        color: #a5a5a5;
      }
      img {
        height: 1px;
        opacity: 0;
        width: 100%;
      }
    }
    img {
      max-width: 100%;
      display: block;
      opacity: 1;
      transition: opacity 1s;
    }
  }
  .zebra-draft-inline-image {
    &.zebra-draft-image-loading {
      img {
        height: 1px;
        padding: 0.2em;
        opacity: 0;
      }
    }
    img {
      vertical-align: bottom;
      opacity: 1;
      transition: opacity 1s;
    }
  }
}
