.zebra-draft-root {
  outline: none;
  table {
    width: 100%;
    border-collapse: collapse;
    p {
      margin: 0;
    }
    td,
    th {
      width: 100px;
      padding: 0;
      border: 1px solid #a5a5a5;
      word-break: break-all;
    }
  }

  .zebra-draft-title-code {
    padding: 10px;
    border-radius: 4px;
    font-size: 14px;
    font-family: Consolas, monospace;
    line-height: 1.3em;
    background: #f8f8f8;
    code {
      font-family: inherit;
    }
  }

  .zebra-draft-image {
    margin: 0;
    &.zebra-draft-image-loading {
      background: #efefef;
      padding: 20px 0;
      &::before {
        content: "图片加载中···";
        display: block;
        width: 100%;
        text-align: center;
        color: #a5a5a5;
      }
      img {
        height: 1px;
        opacity: 0;
        width: 100%;
      }
    }
    img {
      opacity: 1;
      transition: opacity 1s;
    }
  }
  .zebra-draft-inline-image {
    min-width: 1em;
    img {
      opacity: 1;
      transition: opacity 1s;
    }
  }
}
