.stick {
  padding: 0 20px;
  background-color: rgba($color: #fff, $alpha: 0.8);
  span {
    font-size: 14px;
  }
}

.draft-wrap {
  max-height: 500px;
  border: 1px solid #a5a5a5;
  overflow: auto;
  padding: 20px;
}
